- var up = function(val) { return '<sup>' + val + '</sup>'; }

mixin title(title, desc)
	tr.title(class=attributes.style, class=attributes.bold)
		td.head= title
		td.desc(colspan='2')= desc

mixin category(title, value, addon)
	tr
		td(class= title && 'category')= title && title + ':'
		td.val!= value
		td.addon!= addon

mixin image(title, path)
	tr.image_desc
		td= title
	tr.image
		td(colspan='3'): img(src=path)


mixin spacer(numb)
	each space in new Array(numb || 1)
		tr.spacer

mixin line()
	tr.line: td(colspan='3')
