- var up = function(val) { return '<sup>' + val + '</sup>'; }

mixin title(title, desc)
	tr.title(class=attributes.style, class=attributes.bold)
		td.head= title
		td.desc(colspan='2')= desc

mixin category(title, value, addon)
	tr
		td(class= title && 'category')= title && title + ':'
		td.val!= value
		td.addon!= addon

mixin spacer(numb)
	each space in new Array(numb || 1)
		tr.spacer

mixin line()
	tr: td.line(colspan='3')
