- var sup = function(val) { return '<sup>' + val + '</sup>'; }
- var br = function(numb) { return Array.apply(null, Array(numb || 1)).map(function() { return '<br>' }).join(''); }


mixin title(title, desc)
	- var style = attributes.style || 'h1'
	- var bold = attributes.bold || 'head'
	tr.title(class=style, class=bold)
		td.head(colspan= !desc ? '3': '')= title
		if desc
			td.desc(colspan='2')= desc


mixin category(title, value, addon)
	- var bold = attributes.bold || 'val'
	tr.category(class=bold)
		td(class= title && 'head'): span= title && title + ':'
		td.val(colspan= !addon ? '2': ''): span!= value
		if addon
			td.addon!= addon


mixin image(title, path)
	tr.image_desc
		td(colspan='3'): span= title
	if !production
		tr.image
			td(colspan='3'): img(src=path, alt=title)
	else
		tr.image
			td(colspan='3') ## место для картинки ##


mixin spacer(numb)
	each space in new Array(numb || 1)
		tr.spacer


mixin line()
	tr.line: td(colspan='3'): hr(size='4', color='black')
